.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__open {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  border-radius: 16px;
}

.modal__close-button {
  position: absolute;
  background-color: #d3d3d3;
  color: #666;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close-button:hover {
  background-color: #bbb;
  transform: scale(1.05);
  cursor: pointer;
}
