.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000008d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__open {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  max-width: 600px;
  width: auto;
  min-width: 400px;
  border-radius: 15px;
}

.modal__close-button {
  position: absolute;
  background-color: transparent;
  color: #666;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 34px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close-button:hover {
  background-color: #bbb;
  transform: scale(1.05);
  cursor: pointer;
}
