.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: violet;
}

.home__title {
  margin: 30px 0;
}

.home__job-info-button {
  padding: 5px;
}

.home__job-info-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
