.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.home__job-info-button {
  padding: 40px;
}

.home__job-info-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  padding: 40px;
}
